h3{
    background-color: tomato;
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
}
p{
    color: black;
    background-color: greenyellow;
    padding: 10px;
    margin: 10px;
    border: 5px solid black;
}